body{
	overflow: hidden;
}
.container {
    width: 800px;
    height: 600px;
}
.image{
	position:relative;
	float: left;
	height: 200px;
	width: 150px;
	margin : 4px;
	border: 1px solid white;
	z-index:0;
}
.image-selected{ 
	border: 1px solid black;
	background-color:white;
}
.image-selected > img{
	opacity: 0.5;
}
.image > img{
	height:100%;
	width: 150px;
}
.image-magnified{
	z-index:1;
}
.image-magnified > img{
	height:500px;
	width:400px;
	margin-left:-0px;
	margin-top:-50px;
	opacity:0.95;
}   